# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/build/classes/java/main/com/dithub/weather/controller/MainUiController$1.class
